<h3>Créer une Activité</h3>
<form>
		<select class="selectpicker" name="client" title='Client' data-style="btn-primary" data-live-search="true" method="post">
			{% for client in clients %}
			<option value="{{ client['id'] }}">{{ client['name'] }} ({{ client['ref2'] }}-{{ client['ref'] }})</option>
			{% endfor %}
		</select>
		<select class="selectpicker" name="activityType" title='Type' data-style="btn-info">
			{% for activityType in activitiesType %}
				<option value="{{ activityType['id'] }}">{{ activityType['name'] }}</option>
			{% endfor %}
		</select>
		<input type="text" name="task" id="task" class="control" placeholder="Tache" required>
		<input type="text" name="comment" id="comment" class="control" placeholder="Commentaire" required>
		<button type="submit" name="submit" value="submit" class="btn blue">Créer</button>
		<button type="submit" name="submit" value="submitAndBegin" class="btn blue">Créer et commencer</button>
</form>