<form>
	<div class="my-form">
		<select class="selectpicker" name="client" title='Client' data-style="btn-default" data-live-search="true" method="post">
			{% for client in clients %}
			<option value="{{ client['id'] }}">{{ client['name'] }} ({{ client['ref2'] }}-{{ client['ref'] }})</option>
			{% endfor %}
		</select>
		<select class="selectpicker" name="activityType" title='Type' data-style="btn-default">
			{% for activityType in activitiesType %}
				<option value="{{ activityType['id'] }}">{{ activityType['name'] }}</option>
			{% endfor %}
		</select>
		<input type="text" name="task" id="task" class="my-input" placeholder="Tache" required>

		<input type="text" name="comment" id="comment" class="my-input" placeholder="Commentaire" required>
    	<button name="submit" name="submitAndBegin" value="submitAndBegin" class="btn btn-success">Start</button>
    	<button type="submit" name="submit" value="submit" class="btn btn-primary">TODO</button>
  	</div>
		{#<button type="submit" name="submit" value="stop" class='btn red btn_end_run'>Stop</button>#}
</form>