<div>
	<form id="my-form"  style="margin-top:20px;border: 2px solid black;padding:20px;width:1035px;">
		<select class="selectpicker" id="form-input-client" name="client" title='Client' data-style="btn-default" data-live-search="true" method="post">
			{% for client in clients %}
			<option value="{{ client['id'] }}">{{ client['name'] }} ({{ client['ref2'] }}-{{ client['ref'] }})</option>
			{% endfor %}
		</select>
		<select class="selectpicker" id="form-input-activityType" name="activityType" title='Type' data-style="btn-default">
			{% for activityType in activityTypes %}
				<option value="{{ activityType['id'] }}" data-content="<span class='label label-{{ activityType['color'] }}'>{{ activityType['name'] }}</span>" data-width="auto">{{ activityType['name'] }}</option>
			{% endfor %}
		</select>
		<input type="text" id="form-input-task" name="task" id="task" class="my-input" placeholder="Tache" required>

		<input type="text" id="form-input-comment" name="comment" id="comment" class="my-input" placeholder="Commentaire" required>
    	<button type="submit" name="action" value="submitAndBegin" class="addActivity submit btn btn-success"><i class='glyphicon glyphicon-play'></i></button>
    	<button type="submit" name="action" value="submit" class="addActivity btn submit btn-primary" style="margin-left:65px;font-size:0.7em;">TODO</button>
	</form>
</div>
		{#<button type="submit" name="action" value="stop" class='btn submit btn-danger btn_end_run'>Stop</button>#}