{% extends "base.html.twig" %}
{% block title %}Admin - Time{% endblock %}
{% block body %}
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:940px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1">
                        <button id='return' class="btn btn-default">Retour</button>
                    </div>
                    <div class="col-lg-10" id="createBox" style="margin-top:50px;border: 2px solid black;padding:20px;">
                        Creer des entités  : <br/>
                        Nouveau projet :
                        <input type="text" id="new_clientname" name="clientname" class="my-input" placeholder="Nom du projet" required>
                        <input type="text" id="new_clientref1" name="clientref1" class="my-input" placeholder="Ref1(d[1-9]+)" required>
                        <input type="text" id="new_clientref2" name="clientref2" class="my-input" placeholder="Ref2([A-Z]{3})" required>
                        <button name="action" id="addClient" class="btn btn-success" data-type="client">Ajouter</button>
                        <br/>
                        Nouveau type d'activité : <input type="text" id="new_activitytypename" name="activitytypename" class="my-input" placeholder="Nom" required>
                        <select class="selectpicker" id="new_activitytypecolor" name="activitytypecolor" data-style="btn-default" data-live-search="false" method="post">
                            <option value="default" data-content='<span class="label label-default">Couleur</span>' data-width="auto">Couleur</option>
                            <option value="primary" data-content='<span class="label label-primary">Couleur</span>' data-width="auto"Couleur</option>
                            <option value="success" data-content='<span class="label label-success">Couleur</span>' data-width="auto">Couleur</option>
                            <option value="info" data-content='<span class="label label-info">Couleur</span>' data-width="auto">Couleur</option>
                            <option value="warning" data-content='<span class="label label-warning">Couleur</span>' data-width="auto">Couleur</option>
                            <option value="danger" data-content='<span class="label label-danger">Couleur</span>' data-width="auto">Couleur</option>                            
                        </select>
                        <button name="action" id="addActivityType" class=" btn btn-success"  data-type="activitytype">Ajouter</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10" id="editBox" style="margin-top:50px;border: 2px solid black;padding:20px;">
                        Modifier des entités  : <br/>
                        Editer projet :
                        <select class="selectpicker" id="edit_client" name="client" title='Projet' data-style="btn-default" data-live-search="true" method="post">
                            {% for client in clients %}
                            <option data-id="{{ client['client_id'] }}" data-name="{{ client['client_name'] }}" data-ref1="{{ client['client_ref'] }}" data-ref2="{{ client['client_ref2'] }}" value="{{ client['client_id'] }}">{{ client['client_name'] }} ({{ client['client_ref2'] }}-{{ client['client_ref'] }})</option>
                            {% endfor %}
                        </select>
                        <input type="text" id="edit_clientname" name="clientname" class="my-input" placeholder="Nom" required>
                        <input type="text" id="edit_clientref1" name="clientref1" class="my-input" placeholder="Ref1(d[1-9]+)" required>
                        <input type="text" id="edit_clientref2" name="clientref2" class="my-input" placeholder="Ref2([A-Z]{3})" required>
                        <button name="action" id="editClient" class="btn btn-success" data-type="client">Editer</button>
                        <br/>
                        Editer type d'activité :
                        <select class="selectpicker" id="edit_activitytype" name="activityType" title='Type' data-style="btn-default">
                            {% for activityType in activityTypes %}
                                <option data-id="{{ activityType['activityType_id'] }}" data-name="{{ activityType['activityType_name'] }}" data-color="{{ activityType['activityType_color'] }}" value="{{ activityType['activityType_id'] }}" data-content="<span class='label label-{{ activityType['activityType_color'] }}'>{{ activityType['activityType_name'] }}</span>" data-width="auto">{{ activityType['activityType_name'] }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" id="edit_activitytypename" name="activitytypename" class="my-input" placeholder="Nom" required>
                        <select class="selectpicker" id="edit_activitytypecolor" name="activitytypecolor" data-style="btn-default" data-live-search="false" method="post">
                            <option value="default" data-content='<span class="label label-default">Couleur</span>' data-width="auto" data-width="auto">Couleur</option>
                            <option value="primary" data-content='<span class="label label-primary">Couleur</span>' data-width="auto" data-width="auto"Couleur</option>
                            <option value="success" data-content='<span class="label label-success">Couleur</span>' data-width="auto" data-width="auto">Couleur</option>
                            <option value="info" data-content='<span class="label label-info">Couleur</span>' data-width="auto" data-width="auto">Couleur</option>
                            <option value="warning" data-content='<span class="label label-warning">Couleur</span>' data-width="auto" data-width="auto">Couleur</option>
                            <option value="danger" data-content='<span class="label label-danger">Couleur</span>' data-color="auto" data-width="auto">Couleur</option>                            
                        </select>
                        <button name="action" id="editActivityType" class="btn btn-success" data-type="activitytype">Editer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="public/js/admin.js" type="text/javascript" ></script>
    <script>
    $('.selectpicker').selectpicker();
    </script>
{% endblock %}