<div style='border-width:1px;border-color:black;min-height:auto'>
    <table style="border-width:1px;border-color:black;width:100%;">
        <caption><h3><b>TODO</b></h3></caption>
        <tr>
            <th>
                <span style='margin-left:40px;'>Projet</span>
            </th>
            <th>
            </th>
            <th>
                Tache
            </th>
            <th>
                Commentaire
            </th>
            <th width='84px' style='min-width:84px'>
                Actions
            </th>
        </tr>
        {% for todo in todos %}
            <tr class='activity todoRow' data-activityId='{{ todo['id'] }} ' style='psotion:relative;height:41px;border-top: 1px solid grey;font-size:1em;'>
                <td>
                    <span class='dailyRow_client_name editable' data-type='selectpicker' data-field='client' data-name='clients' data-value='{{todo['client_id']}}' style='font-weight=bold;margin-left:10px;'>
                        <span class='activityClientName'>{{ todo['client_name'] }}</span>
                        ({{todo['client_ref2']}}-{{todo['client_ref']}})
                    </span>
                </td>
                <td>
                    <span class='label label-{{todo['activityType_color']}} editable' data-type='selectpicker' data-name='activityTypes' data-field='activityType' data-value='{{todo['activityType_id']}}' style="float:right;margin-right:20px;margin-top:2px;">{{todo['activityType_name']}}</span>
                </td>
                <td>
                    <span class='editable activityTask' data-type='string' data-name='task' data-field='task' data-value='{{ todo['task'] }}'>
                    {% if todo['task'] != '' %}
                        {{ todo['task'] }}
                    {% else %}
                        <span style="font-style: italic;">Ecrire une tache</span>
                    {% endif %}
                    </span>
                </td>
                <td>
                    <span class='editable activityComment' data-type='string' data-name='commentary' data-field='commentary' data-value='{{ todo['commentary'] }}'>
                    {% if todo['commentary'] != '' %}
                        {{ todo['commentary'] }}
                    {% else %}
                        <span style="font-style: italic;">Ecrire un commentaire</span>
                    {% endif %}
                    </span>
                </td>
                <td>
                    <button class='btn_etat btn btn-success btn_start_activity' style=''><i class='glyphicon glyphicon-play'></i></button>
                    <button class='btn_etat btn btn-danger btn_predelete_activity' data-activityid='{{ todo["id"] }}' style=''><i class='glyphicon glyphicon-trash'></i></button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>