<div style='border-width:1px;border-color:black;min-height:600px;border-style:solid;'>
    <table width='100%'>
        <caption>Mes Activités</caption>
        <tr>
            <th>
                Client-Type
            </th>
            <th>
                Tache
            </th>
            <th>
                Commentaire
            </th>
        </tr>
        {% for activity in activities %}
            <tr class='activity activityRow' data-activityId='{{ activity['id'] }} ' style='border-top: 1px solid green;font-size:1em;height:40px;'>
                <td>
                    {{ activity['client_name'] }} 
                    ({{ activity['client_ref'] }}-
                    {{ activity['client_ref2'] }})
                    -{{ activity['activityType_name'] }})
                </td>
                <td>
                    {{ activity['task'] }}
                </td>
                <td>
                    {{ activity['commentary'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>