<div style='border-width:1px;border-color:black;min-height:600px;'>
    <table style='width:100%;'>
        <caption><h3><b>Aujoud'hui ({{ 'now'|date('d/m/Y') }})</b></h3><h4><b>{{ worktimeToday['hour'] }}h{{ worktimeToday['minute'] }}m{{ worktimeToday['second'] }}s</b></h4></caption>
        <tr>
            <th>
                <span>Client</span>
            </th>
            <th>
            </th>
            <th>
                Tache
            </th>
            <th>
                Commentaire
            </th>
            <th>
                Debut - Fin
            </th>
            <th>
                Temps
            </th>
            <th width='84px'>
                Actions
            </th>
        </tr>
    {% for activity in activities %}
        {% set isFinish = (activity['end'] != '0000-00-00 00:00:00') %}
        <tr class='activity dailyRow' data-activityId='{{ activity['id'] }}' data-isfinish='{{isFinish}}' style='position:relative;height:41px;border-top: 1px solid grey;font-size:1em;'>
            <td width="240">
                <span class='dailyRow_client_name editable' data-type='selectpicker' data-field='client' data-name='clients' data-value='{{activity['client_id']}}' style='font-weight=bold;margin-left: 10px;'>
                    {{ activity['client_name'] }}
                    ({{activity['client_ref2']}}-{{activity['client_ref']}})
                </span>
            </td>
            <td width="142">
                <span class='label label-{{activity['activityType_color']}} editable' data-type='selectpicker' data-name='activityTypes' data-field='activityType' data-value='{{activity['activityType_id']}}' style="float:right;margin-right:38px;margin-top:2px;">{{activity['activityType_name']}}</span>
            </td>
            <td>
                <span class='editable' data-type='string' data-name='task' data-field='task' data-value='{{ activity['task'] }}'>
                    {{ activity['task'] }}
                </span>
            </td>
            <td>
                <span class='editable' data-type='textarea' data-name='commentary' data-field='commentary' data-value='{{ activity['commentary'] }}'>
                    {{ activity['commentary'] }}
                </span>
            </td>
            <td>
                <span class='editable timebound startTime' data-type='time' data-name='start' data-field='start_time' data-value='{{activity['start']|date('H\\:i')}}'>{{ activity['start']|date('H\\hi') }}</span> -
                <span class='editable timebound endTime' data-type='time' data-name='end' data-field='end_time' data-value='{{activity['end']|date('H\\:i')}}'>
                {% if activity['end'] != 0 %}
                    {{ activity['end']|date('H\\hi') }}
                {% else %}
                    n/a
                {% endif %}
                </span>
            </td>
            <td >
                {% if activity['timeSpend'] %}
                {{ activity['timeSpend']|date_modify('-1 hour')|date('H\\hi') }}
                {% endif %}
            </td>
            <td>
                {% if activity['timeSpend'] %}
                    <button class='btn btn-success btn_restart_activity' title="Reprendre"><i class='glyphicon glyphicon-repeat'></i></button>
                {% else %}
                    <button class='btn btn-danger btn_end_activity' title="Stopper"><i class='glyphicon glyphicon-stop'></i></button>
                {% endif %}
                <button class='btn btn-danger btn_delete_activity' title="Supprimer"><i class='glyphicon glyphicon-trash'></i></button>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
        <button class='btn btn-warning' id='admin' style='position:absolute;left:16px;width:80px;height:40px;top:19px;'>Admin</button>
        <button class='btn btn-success' style='position:absolute;right:16px;width:80px;height:40px;top:19px;'>Exporter</button>
        <button id='copy' class='btn btn-success' style='position:absolute;right:100px;width:80px;height:40px;top:19px;'>Copier</button>
    <div>
</div>