<div style='border-width:1px;border-color:black;min-height:600px;'>
    <table style='width:100%;'>
        <caption><h3><b>Aujoud'hui ({{ 'now'|date('d/m/Y') }})</b></h3></caption>
        <tr>
            <th>
                Client
            </th>
            <th>
                Tache | Commentaire
            </th>
            <th>
                Debut-Fin
            </th>
            <th>
                Temps
            </th>
        </tr>
    {% for activity in activities %}
        {% set isFinish = (activity['end'] != '0000-00-00 00:00:00') %}
        <tr class='activity dailyRow' data-activityId='{{ activity['id'] }}' data-isfinish='{{isFinish}}' style='position:relative;height:41px;border-top: 1px solid grey;font-size:1em;'>
            <td>
                <span class='dailyRow_client_name editable' data-type='selectpicker' data-name='clients' data-value='{{activity['activityType_name']}}'>
                    {{ activity['client_name'] }}
                    ({{activity['client_ref2']}}-{{activity['client_ref']}})
                </span>
                {% if activity['activityType_name'] == 'Développement' %}
                {% set labelType = 'primary'%}
                {% elseif activity['activityType_name'] == 'Relationnel client' %}
                {% set labelType = 'info'%}
                {% elseif activity['activityType_name'] == 'R&D' %}
                {% set labelType = 'warning'%}
                {% elseif activity['activityType_name'] == 'Reunion interne' %}
                {% set labelType = 'success'%}
                {% endif %}
                <span class='label label-{{activity['activityType_color']}} editable' data-type='selectpicker' data-name='activityTypes' data-field='activityType' data-value='{{activity['activityType_name']}}' style="float:right;margin-right:10px;margin-top:8px;">{{activity['activityType_name']}}</span>
            </td>
            <td>
                <span class='editable' data-type='string' data-name='task' data-field='task' data-value='{{ activity['task'] }}'>
                    {{ activity['commentary'] }}
                </span>
                |
                <span class='editable' data-type='string' data-name='commentary' data-field='comentary' data-value='{{ activity['commentary'] }}'>
                    {{ activity['task'] }}
                </span>
            </td>
            <td>
                <span class='editable timebound startTime' data-type='time' data-name='start' data-field='start_time' data-value='{{activity['start']|date('H\\:i')}}'>{{ activity['start']|date('H\\hi') }}</span> -
                <span class='editable timebound endTime' data-type='time' data-name='end' data-field='end_time' data-value='{{activity['end']|date('H\\:i')}}'>
                {% if activity['end'] != 0 %}
                    {{ activity['end']|date('H\\hi') }}
                {% else %}
                    n/a
                {% endif %}
                </span>
            </td>
            <td>
                {% if activity['timeSpend'] %}
                {{ activity['timeSpend']|date_modify('-1 hour')|date('H\\hi') }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <div style='position:absolute; right:50px; bottom:0;'>
        <h3>Temps total : {{ worktimeToday['hour'] }}h{{ worktimeToday['minute'] }}m{{ worktimeToday['second'] }}s</h3>
    </div>
    </div>
        <button class='btn btn-success btn_edit_bound_activity btn_edit_end_activity' style='position:absolute;right:16px;width:80px;height:40px'>Exporter</button>
        <button id='copy' class='btn btn-success btn_edit_bound_activity btn_edit_end_activity' style='position:absolute;right:100px;width:80px;height:40px'>Copier</button>
    <div>
</div>